{% extends "global/base.html" %}

{% block content %}

    <div class="cliente">
        <h1 class="cliente-name">
            {{ equipe.nome_equipe }}
        </h1>

        <p><b>ID:</b> {{ equipe.id }}</p>
        <p><b>Especialidade:</b> {{ equipe.especialidade }}</p>
        {% for funcionario in funcionarios %}
            <p><b>Nome:</b><a class="link-func"> {{ funcionario.nome }} {{ funcionario.sobrenome }} </a></p>
        {% endfor %}

        <div class="cliente-links">
            <a href="{% url "funcionarios:updateEquipe" equipe.id %}" type="button" class="btn-update">
                Atualizar Equipe
            </a>
            <a href="{% url "funcionarios:equipe" %}" type="button" class="btn-update">
                Voltar
            </a>

            <form action="{% url "funcionarios:deleteEquipe" equipe.id %}" method="POST">
                {% csrf_token %}

                {% if confirmation == 'no' %}
                <input type="hidden" name="confirmation" value="yes" />
                <button class="btn-delete" type="submit">Confirma?</button>
                {% else %}
                <button class="btn-delete" type="submit">Delete</button>
                {% endif %}
            
            </form>
        </div>

    </div>

{% endblock content %}