{% extends "global/base.html" %}

{% block content %}

    <div class="cliente">
        <h1 class="cliente-name">
            {{ funcionario.nome }} {{ funcionario.sobrenome }}
        </h1>

        <p><b>ID:</b> {{ funcionario.id }}</p>
        <p><b>Telefone:</b> {{ funcionario.email }}</p>
        <p><b>Endereço:</b> {{ funcionario.cpf }}</p>
        {% for equipe in equipes %}
            <p><b>Equipe:</b> {{ equipe.nome_equipe }}</p>
            <p><b>Especialidade:</b> {{ equipe.especialidade }}</p>
        {% endfor %}

        <div class="cliente-links">
            <a href="{% url "funcionarios:updateFunc" funcionario.id %}" type="button" class="btn-update">
                Atualizar Funcionario
            </a>
            {% comment %} <a href="{% url "cliente:createVeiculo" %}" type="button" class="btn-update">
                Cadastrar Veículo
            </a> {% endcomment %}
            <a href="{% url "funcionarios:funcionario" %}" type="button" class="btn-update">
                Voltar
            </a>

            <form action="{% url "funcionarios:deleteFunc" funcionario.id %}" method="POST">
                {% csrf_token %}

                {% if confirmation == 'no' %}
                <input type="hidden" name="confirmation" value="yes" />
                <button class="btn-delete" type="submit">Confirma?</button>
                {% else %}
                <button class="btn-delete" type="submit">Delete</button>
                {% endif %}
            
            </form>
        </div>

    </div>

{% endblock content %}