{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <div class="header">
      <h2>Cadastro Funcionário</h2>
      <button class="close-btn" type="button">
        <a class="btn-add" href="{% url "funcionarios:funcionario" %}">
          <i class="bi bi-arrow-left"></i> Voltar
        </a>
      </button>
    </div>
    
    <form 
      action="{{ form_action }}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}      
      
      <div class="form-content">

        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}

            {% if field.help_text %}
              <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
          </div>

          {% if field.name == 'picture' and field.value.url %}
            <div class="form-group">
              <img src="{{ field.value.url }}" alt="">
            </div>
          {% endif %}
        {% endfor %}
      </div>

      {% if form.non_field_errors %}
        <div class="form-content">
          <div class="form-group">
            <div class="message error">
              {{ form.non_field_errors }}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="form-btn">
        <div class="form-group-btn">
          <button class="btn-send" type="submit">Adicionar Funcionário</button>
        </div>
      </div>

    </form>
  </div>
{% endblock content %}