{% extends "base.html" %}
{% load static %}

{% block 'welcome' %}

<header>
    <div class="container header-container">
        <div class="header-left">
            <h1>Bem-Vindo ao ScheffelCar</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis est illo <br> nisi  magni ea distinctio ab quibusdam rem qui ex? Quisquam ipsum quaear <br> sint eos alias rem sequi repellendus culpa?
            </p>
            <a href="" class="btn">Entre</a>
        </div>
        <div class="header-right">
            <div class="sq-box">
                <img src="./car.png" alt="">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>
</header>

{% endblock  %}