{% extends "global/base.html" %}

{% block content %}
    <div class="response-table">
        <div class="table-title">
            <h1 class="title">Ordens de Serviços</h1>

            <button type="button" class="btn-ordem">
                <a class="add-link" href="{% url "ordem:createOrdem" %}">
                    Adicionar Ordem
                </a>
            </button>
        </div>

        <table class="oficina-table">

            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Placa</th>
                    <th class="table-header">Descrição</th>
                    <th class="table-header">Equipe</th>
                </tr>
            </thead>

            <tbody>
                {% for ordem in ordens %}
                <tr class="table-row">
                    <td class="table-cel">
                        <a href="{% url 'ordem:detailOrdem' ordem.id %}" class="table-link"> {{ ordem.id }}</a>
                    </td>
                    <td class="table-cel">{{ ordem.veiculo }}</td>
                    <td class="table-cel">{{ ordem.descricao }}</td>
                    <td class="table-cel"> {{ ordem.equipe }} </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock content %}