<nav class="navbar">
    <div class="navbar-overlay" onclick="toggleMenuOpen()">
        <button class="navbar-burger" type="button" onclick="toggleMenuOpen()">
            <span class="material-icons">
                menu
            </span>
        </button>

        <h1 class="navbar-title">Oficina</h1>
        <nav class="navbar-menu">
            <button type="button">Home</button>
            <button type="button">Ordens</button>
            <button type="button">Clientes</button>
            <button type="button">Veículos</button>
            <button type="button">Peças</button>
            <button type="button">Serviços</button>
        </nav>
    </div>
</nav>